
h1{
	margin: 5px;
	border: 5px;
	padding: 0px;
	font-family:Calibri;
	font-size: 20px;	
}

h2{
	margin: 5px;
	border: 10px;
	padding: 0px;
	font-family: Calibri;
	font-size: 15px;
	color: #084466;
}
h3{
	margin: 5px;
	border: 0px;s
	padding: 0px;
	font-family: Calibri;
	font-size: 14px;
	color: #084466;
}
table{
	width: 100%;
	padding: 10px;
}

img{
	padding-right: 5px;
}
.jibz{
	color: #084466;
	font-family: calibri;
}
.tan{
	color: black;
	font-family: calibri;
}
.kash{
	color: grey;
	font-family: calibri;
}

ul{
	list-style-type: none;
}

table{

}

.box-1 {
background-color: #084466;

}

.box-2{
	background: #084466;
	border-radius: 15px;
}
li{
	color: white;
	font-family: calibri;

}

.sola{
	color: white;
	font-family: calibri;
}

tr.sola{
	color: white;
}

a{
	text-decoration: none;
	color: #084466;
}

a:hover{
	color:pink;
}
a: active{
	color: green;

}

a:visited{
	color: green;
}

.form li{
	padding-bottom: 8px;
	border-bottom: dotted 1px #084466;
	list-style-image: url('../images/fresh.png')
}  
.tall{
	border: dotted

}

.funsh{
	padding: 20px;
}

.funsh.funsh-group{
	padding-bottom: 15px;
}

.funsh label{
	display: block;
}

.funsh input[type="text"], .funsh textarea{
	padding: 8px
	width:100%;
}

.funsh input[type="submit"]


.form{
	border: 1px #084466
	border-block-color: #084466;
	padding: 10px
	border-radius:15px;
}
.form h2{
	text-align: center;
}